<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.meilcli.foodsearch">

    <application>
        <activity android:name=".views.activities.GpsSearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="http"
                    android:host="foodsearch.meilcli.net"
                    android:path="/app/gps_search"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="foodsearch.meilcli.net"
                    android:path="/app/gps_search"/>
            </intent-filter>
        </activity>
    </application>

</manifest>